<link href="css/content.css" rel="stylesheet" type="text/css">
<div class="container">
<h2 class="text-center">Nuala Honan</h2>
<h3>A CACE Music favourite, these videos are performed by Nuala Honan in an Eric Street basement, for a small audience of nearest and dearest.</h3>
<h4 class="text-right">Aticle Written by Abbie Salter</h4>
<div class="well well-sm">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/X2pNToFUu3o" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<p><span class="italic_content">“There’s this radio station in Australia called Triple J, which is kind of like Radio 6. We couldn’t get the station on any other radio, but my dad had these big aerials on the top of his Ute, so we could get it on a good, clear day - new, unsigned, underground, interesting music. I heard this song called Heavy Heart by Tim Rodgers’ band UMI. I remember just being blown away. Dad pulled up into the driveway but kept the radio on and we both just sat there, listening to the end to see who it was. I wrote it down and was frantically asking everyone at school had anyone heard of UMI. It wasn’t until a year later that a friend said yes and then I listened to that band all through my teens. All my role models were just pop singers and dancers, so that was all the reference I had up until this point. I think when I heard that song - that was when I realised I wanted to write songs - hearing a real song, full of very honest lyrics.”</span></p>

<p>Nuala Honan is something of an old soul. She isn’t yet 30 but she has been playing her lilting style of Country/Folk music professionally for the best part of a decade. Growing up in rural Australia, her story, much like her music is a gentle one, with a whole lot of heart.
</p>

<p><span class="italic_content">“My family are all Irish, so I think it’s sort of in the blood. My dad especially listened to music. It was always on in the house. I think I was one of those weird little kids that was making songs up about their food.”</span></p>

<p>At the age of eight, Honan took up an instrument – the clarinet (“I didn’t love it.”) – and soon joined the school choir. Music was a constant in the house but with no hint of pretention. Every Saturday morning she and her dad would get up and watch the video hits TV show <span class="italic_content">Rage</span>.</p>

<p><span class="italic_content">“My mum was really into the latest kind of jazz singers doing the classic standards. She was really into Harry Connick, Jr. I think those standards were actually quite a good introduction. But Dad just listened to whatever we listened to.”<span/></p>

<div class="well well-sm">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1tBTHDgL3I8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<p>After working and saving for a year after finishing High School, Honan moved to Ireland citing music, family and a certain sense of being an outsider as motives for jumping continents. <span class="italic_content">“I never really fit in and I thought if I went to Ireland everyone would play music and it would be great.”</spn> She smiles. <span class="italic_content">“I don’t know what I thought but it’s obviously true because I feel very much at home in the UK.”</span>
</p>

<p>Honan spent four months in Ireland before conceding that it might not be the most sustainable of lifestyles. <span class="italic_content">“I spent all my money; I had no idea what I was doing. Mum and Dad had given me this credit card for emergencies and I just started using it.”</span></p>

<p>Broke and unsure quite where to call home, Honan spent a few years in Exeter where an aunt lives. There she took up a residency at a local pub before settling in Bristol.</p>

<p>It is this city in the South West of England that Honan has really found the space to develop as an artist. She began a residency at a pub called the Golden Lion, which led to the pub manager asking her to run her own night every Tuesday. Live in the Lion’s Den is intended to act as a filler night between Monday’s open mic night and longer live slots later in the week. “It’s kind of a showcase night, I guess. There’s three slots – I always open and I book the two other acts, do the promotion and liaise with the pub, who are really supportive.”
</p>

<p>Having relied on residencies as something of a lifeline since finishing school, Honan understands their worth for emerging musicians. “I always valued that weekly slot, where I could make a bit of money but also practise my craft – and it’s really good for networking. It’s not a folk night specifically, but it’s a Tuesday and we’re on a small budget, so it can feel quite acoustic. But if I think the music is engaging and they can afford to play then I’ll book them.”</p>

<p>Meanwhile, Honan has gradually recorded her debut album. The Tortoise is from The Tortoise and the Hair, “because when I finally got around to making the album, I’d been playing my songs live for ten years; I’d made a lot of EPs and demos and I started to question myself. When I was a teenager I had grand ideas of being a singing star by the age of 21, so it’s about letting go of that dream and taking hold of a new one - and looking to new heroes. And it’s just a lovely symbol – they live a really long time and they’re majestic.”</p>

<p>Sweeping effortlessly from country ballads to soaring folk songs, The Tortoise could believably be Honan’s 5th album, such is the assuredness of her lyrics and tone. 
</p>

<div class="well well-sm">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/KukhlKoTgFs" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<p>“I think the slow burn was more realistic for me. There’s a band that I love in Australia called The Waifs who have taken the slow road. They toured and toured and toured and toured and then when the opportunity came – their third album was massive. I think it was giving myself permission to take my time and do it right - until I felt I had a good album, knew enough about production and was surrounded by the right people.”</p>

<p>Undoubtedly, this debut is the product of measured decisions; it has the sound of experience. Despite all this, the songs achieve a relevancy in todays Country/Pop hybrid music scene.</p>

<p>“I think it has to do with storytelling. I’m really interested in making all kinds of music with all kinds of people and I do like new sounds. I might be that person who makes a pop album in a few albums time but I think outside all my collaborations, when I’m sat at home I write about my experiences very directly. I’m so conscious of writing about myself and my life and me, me, me. It is a very self-absorbed album, so I do want to make the most out of it by making it into a story.“</p>

<p>Honan credits her Irish heritage for her narrative inclinations. Her dad made Irish folk music a feature of the household – “He made it known: this is beautiful and it should make you cry. I love American folk traditions as well. I think that way of putting a song together just really resonates with me and all the songs that I go back and look at that I was listening to as a teenager were all actually, essentially folk and country.”</p>

<p>Do not write Nuala Honan off as a one-trick pony, though. She has also been known to lend her vocals to jazz skits with her friend Jools Scott (“we read each other, it comes together really naturally”), as well as making a number of appearances with Smerins Antisocial Club, a ten-piece line up of musicians billing themselves as a ‘mutant musical stew’. “I don’t know what it is. It’s quite genreless. We’ve done a Charleston song, a sort of dub one, a kind of soulful, rock one… That’s kind of how that band works. It’s there to explore different sounds so I get to sing a lot of different stuff with them.” Oh, and she’s also in a Bluegrass trio – “that’s really fun.”</p>

<p>One gets the impression that Honan would have spent another ten years on her debut if that was what it would have taken, nevertheless, her next endeavour hints at a calmly veiled dissatisfaction with the music industry. Based on a statistic released in 2011 by the Performing Rights Society (PRS), she is working on launching a ‘Women in Music’ campaign. “I read that 14% of their members were women – that is a massive gender gap. So, I’m setting out to see if that’s an accurate representation – whether women aren’t signing up as much, or aren’t putting themselves out there.” </p>

<p>A website will be launched in 2015 hosting podcasts, a blog and a calendar of public workshops, events and talks for women. “It’s not a male thing to be a musician, so I think we should be encouraging girls and women to get involved. I feel like I’m starting on a long journey. I’ve got a lot of people involved. That’s the thing I’m most excited about.”</p>

<p>Nuala Honan may have roots in tradition but she is not to be underestimated as a new and distinctly resolute voice in music. </p>

<p>“I do make sure that if I feel broke or if I feel tired or whatever I do think: I’m living and breathing it every day, so appreciate it, because that’s what you wanted.”</p>