<link href="css/content.css" rel="stylesheet" type="text/css">
<title>CACE Music sessions: Savage Nomads</title>
<div class="container">

<p>For its first session CACE was proud to host a performance from The Savage Nomads, an alt-indie five piece playing to get the masses dancing with aspirations of sound tracking the Royal Mail’s delivery routes...</p>

<p>CACE jumped at the chance to film and interview the Savage Nomads; a band set on rising to the top with a signature indie rock sound that has been moving dance floors across the UK. At a crucial point in their career with a new producer, manager and an impressive host of big gigs coming up, they are a band with a lot to talk about. As the film crew busy themselves setting up for the shoot I take the opportunity to speak with lead singer and co-founder Cole Salewicz, and get the low down on the band’s journey to date. </p>

<p>Cole begins the story from the ripe age of sixteen when he met Josh, a fellow music enthusiast who shared his dedication and open attitude to playing. After just five jamming sessions they formed The Savage Nomads in 2007, and back then they had a much rawer sounding than what you hear today. Cole points out that <span class="italic_content">‘The Clash have always been a key influence in our music, especially Joe Strummer.’</span> The Nomads owe more to their influencers than just their sound, as they were lucky enough to get a helping hand from The Clash bassist, Mick Jones. Mick gave them a weekly residency at the Carbon Casino night as well as a regular slot at Strummerville, a charity event in honour of their idol, which put them in touch with industry figureheads, such as Gary Crowley from the BBC.</p>

<p>In 2011 they released their first LP, Coloured Clutter: thirteen tracks of sporadic compositions across a myriad of genres. Cole freely admits, <span class="italic_content">‘it’s called Coloured Clutter and that’s basically what it is – a mess.’</span> Fast forward three years and the Nomads’ sound <span class="italic_content">‘has changed and become a lot more focused and melodic.’</span> Cole explains that Coloured Clutter was a niche record, but now the band has a unified commitment to get people dancing: <span class="italic_content">‘I want our music to be listened to by everyone. I want postmen to get our music. If our music became the sound track to the Royal Mail I would be content’. Through a combination of this new ethos, an organic change in band members and working with their new producer, Sharif Hashazumi, they are achieving their goal.</p>

<p>Their latest single, ‘Porno’, is testament to this as it’s full of hooks and catchy melodies. Watching them play live you get the feeling the whole band is committed to their sound and is, most importantly, having fun at the same time. Everyone feeds off one another: the drummer leads each track with his energetic and meticulous beat; a heady backing track is complete with the bass and rhythm guitar; then Josh layers up hooks and outrageous solos on lead guitar; and finally Cole delivers his vocals over the top with a bohemian flair.</P>

<p>The future is looking bright as well. The Nomads have recently struck up a relationship with South coast indie music bastion, Republic of Music, who have taken on their distribution and management duties. Shifting between lack lustre managers and the struggle of managing themselves in the past few years, The Savage Nomads are not alien to the trials and tribulations emerging artists experience. Cole makes the point that <span class="italic_content">‘the music industry can be ruthless and torrid at times, but it’s not good to look at it too much as that attitude gets you nowhere.’</span> It’s great to see a band so understanding of the industry’s misgivings, turning their experiences into positive insight on how to approach their career going forward.</p>

<p>Since the shoot, Josh and Cole have taken a five month hiatus from performing, but they’ve kept themselves incredible busy. Aside from writing new material that adds up to a new album, they ventured across the Atlantic to start pushing their sound out in the USA. Top that? Well they have, by lining up a series of awesome gigs to announce their return to the stage, including supporting slots for legends Adam Ant and Dreadzone, with the former requesting them personally. These guys have got the style and commitment to take them far, and CACE can’t wait to see what’s in store for them.</p>

<p>Catch the Savage Nomads performing live on the following dates:</p>

<div class="container-fluid">
	<div class="row tour_date_row">
		<div class="col-xs-4 col-md-2">Mon 27th Oct 2014</div>
		<div class="col-xs-4 col-md-4">The Shacklewell Arms w/ French Rabbits</div>
		<div class="col-xs-4 col-md-2">London UK</div>
	</div>
	<div class="row tour_date_row">
		<div class="col-xs-4 col-md-2">Fri 14th Nov 2014</div>
		<div class="col-xs-4 col-md-4">Under The Bridge w/Dreadzone</div>
		<div class="col-xs-4 col-md-2">Fulham UK</div>
	</div>
	<div class="row tour_date_row">
		<div class="col-xs-4 col-md-2">Sat 22nd Nov 2014</div>
		<div class="col-xs-4 col-md-4">Islington Assembly Wall	w/ Adam Ant</div>
		<div class="col-xs-4 col-md-2">London UK</div>
	</div>
	<div class="row tour_date_row">
		<div class="col-xs-4 col-md-2">Fri 05th Dec 2014</div>
		<div class="col-xs-4 col-md-4">The Macbeth</div>
		<div class="col-xs-4 col-md-2">London UK</div>
	</div>
</div>

<br/>
<p>Tickets are available for purchase on <a href="http://www.songkick.com/artists/2375458-savage-nomads/calendar">Songkick</a>.</p>

<p>You can also purchase a copy of their new single ‘Porno’ on <a href="https://itunes.apple.com/gb/album/porno-single/id824250960">iTunes</a>, and download a free copy of their cover of ‘Head On’ by Jesus and the Mary Chain by <a href="http://emailunlock.com/the-savage-nomads/head-on">clicking here.</a></p>


</div>