<div class="container">
	<h3>CACE Music (Countryside Acoustics Cityside Electrics) is a discerning live music site, showcasing a diverse range of exceptional, fresh talent</h3>

	<p>It is a promotional platform for up and coming artists filmed in complementary, rooted environments that highlight the artists raw talent. The country/city acoustic/electric parallels are their to prove the even spread of talent in all corners of the world, and to show our audience the diversity of music trends and styles awaiting discovery.</p>

	<p>The CACE Music collective comprises of Directors, Camera Operators, Editors, Sound Engineers, Writers, Photographers, Graphic Designers & Web Developers all working voluntarily to provide content for the modern musical explorer.</p>

	<p>If you're a fan, an artist looking for a promotional opportunity, or a creative individual looking to join our collective, drop us a line!</p>

	<p>Jenna x</p>
	<p>jenna@cace-music.co.uk</p>
	<p>07712 162862</p>

	<br/>

	<p>Contact</p>
	<p>For artist bookings please contact: jenna@cace-music.co.uk</p>
	<p>07712 162862</p>

	<p>Or Peter: papf@hotmail.com</p>
	<p>07708 730416</p>
</div>