<div class="container">
	
	<h2>Contact</h2>
	<ul>
		<li>Jenna Fentimen - Founder/ Director</li>
		<li>Peter Farrow - Editor</li>
		<li>Clara Marcus- Graphic Design</li>
		<li>Sian Coventry - Graphic Design</li>
		<li>Gareth Fentimen - Web Developer</li>
		<li>James Goatman - Music Writer</li>
		<li>Abbie Salter- Music Writer</li>
	</ul>

	<p>
	For all enquiries please contact:
	<a href="mailto:jenna@cace-music.co.uk?Subject=CaceMusicEnquiry" target="_top">
	jenna@cace-music.co.uk</a></p>
</div>